<h2>Invoice Number: <%= @invoice.id %></h2>

<p>Status: <%= @invoice.status %></p>
<p>Created On: <%= @invoice.creation_date_formatted %></p>
<p>Customer Name: <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></p>

<h2>Invoice Items:</h2>

<% @invoice.invoice_items.each do |invoice_item| %>
  <div id="invoice_item-<%= invoice_item.id %>">
    <h3><u><%= invoice_item.item.name %></u></h3>
    <p>Quantity: <%= invoice_item.quantity %></p>
    <p>Price: <%= invoice_item.unit_price.to_f/100 %></p>
    <p>Status: <%= invoice_item.status %></p>
    <%= form_with model: invoice_item, local: true do |f| %>
      <%= f.select :status, ["packaged", "pending", "shipped"], selected: invoice_item.status %>
      <%= f.submit "Update Item Status" %>
    <% end %>
    <% end %>
  </div>
<br>

<h2> Total Revenue: <%= @invoice.revenue_formatted %> </h2>
