<h2>Invoice Number: <%= @invoice.id %></h2>

<p>Status: <%= @invoice.status %></p>
<p>Created On: <%= @invoice.creation_date_formatted %></p>
<p>Customer Name: <%= @customer.first_name %> <%= @customer.last_name %></p>
